{
  "dev": {
    "account": "111111111111",
    "region": "us-east-1",
    "journalSubdomain": "dev",
    "mediaSubdomain": "cfmedia-dev",
    "mailSubdomain": "devmail",
    "acmeEmail": "you@example.com"
  },
  "qa": {
    "account": "222222222222",
    "region": "us-east-1",
    "journalSubdomain": "qa",
    "mediaSubdomain": "cfmedia-qa",
    "mailSubdomain": "qamail",
    "acmeEmail": "you@example.com"
  },
  "prod": {
    "account": "333333333333",
    "profile": "333333333333_AdministratorAccess",
    "region": "us-east-1",
    "journalSubdomain": "www",
    "mediaSubdomain": "cfmedia-prod",
    "mediaCertificateArn": "arn:aws:acm:us-east-1:...",
    "mailFromSubdomain": "mail",
    "acmeEmail": "you@example.com",
    "mysqlRootPassword": "xxxxxx",
    "sesSmtpHost": "email-smtp.us-west-2.amazonaws.com",
    "sesSmtpUsername": "AKIA...",
    "sesSmtpPassword": "..."
  }
}
